button {
    margin-top: 30px;
    transition: .5s letter-spacing;
}

button:hover {
    letter-spacing: 2px;
}

.card {
    width: 60%;
}

.card-body h3,
.card-body p {
    text-align: center;
}

.card-header {
    text-align: center;
    background-image: url(../../../assets/interlaced.png)
    
}

form {
    width: 50%;
    margin: 50px auto;
}

form p {
    margin-top: 15px;
}
