<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Usuários</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th>Data de Nascimento</th>
            <th>Endereço</th>
            <th>Telefone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios" class="text-center">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome | uppercase }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.senha }}</td>
            <td>{{ usuario.dataNascimento | date:'dd/MM/yyyy' }}</td>
            <td>{{ usuario.endereco }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>
              <button (click)="editar(usuario)" class="btn btn-warning">Editar</button>
              <button (click)="deletar(usuario)" class="btn btn-danger" style="margin-left: 10px;">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
