<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <img src="http://conductor.com.br/assets/img/logo-conductor-connect.svg" alt="">
        </div>
        <div class="card-body">
          <h3 class="card-title">Projeto CRUD</h3>
          <p class="card-text">Essa é uma aplicação web feita com Angular 8.</p>
          <div class="btn-group">
            <button 
              (click)="listar()" 
              class="btn btn-primary">
              Listar
            </button>
            <button 
              (click)="adicionar()" 
              class="btn btn-success">
              Cadastrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
