<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
          <!-- <div class="btn-group">
            <button 
              (click)="listar()" 
              class="btn btn-primary">
              Listar
            </button>
            <button 
              (click)="adicionar()" 
              class="btn btn-success">
              Cadastrar
            </button>
          </div> -->
        </div>
      </div>
    </div>
