/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Raleway', sans-serif;
}

h3 {
    letter-spacing: 2px;
}

body {
    background-color: rgb(218, 218, 218);
}

.card {
    margin: 20px auto;
    -webkit-box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.48);
    box-shadow: 6px 7px 8px 0px rgba(0,0,0,0.48);
}

.card-header {
    background-color: rgba(214, 212, 212, 0.48)
}

h3 {
    font-weight: 800;
}