<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Alterar Dados</h3>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <label for="">Nome:</label>
            <input [(ngModel)]="usuario.nome" name="nome" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Email:</label>
                <input [(ngModel)]="usuario.email" name="email" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Senha:</label>
                <input [(ngModel)]="usuario.senha" name="senha" type="password" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Data de Nascimento:</label>
                <input [(ngModel)]="usuario.dataNascimento" name="dataNascimento" type="date" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Endereço:</label>
                <input [(ngModel)]="usuario.endereco" name="endereco" type="text" class="form-control">
          </div>
          <div class="form-group">
              <label for="">Telefone:</label>
                <input [(ngModel)]="usuario.telefone" name="telefone" type="text" class="form-control">
          </div>
          <button (click)="adicionar(usuario)" class="btn btn-primary btn-block" type="submit">Atualizar</button>
      </form>
    </div>
  </div>
</div>
